@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
    font-family: "Modern Negra";
    src: url("/fonts/Modern_Negra_Demo.ttf") format("truetype");
}

@theme {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

html, body{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility responsive-container{
    @apply container xl:px-30 px-5 mx-auto
}

@utility masked-img {
    mask-image: url("/images/mask-img.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}

@layer base{
    main{
        @apply relative;
    }

    nav{
        @apply fixed top-0 z-50 w-full;
    }

    section{
        @apply relative w-full min-h-screen overflow-hidden;
    }

    .noisy {
        @apply absolute inset-0 z-5 size-full bg-[url("/images/noise.png")];
    }

    #hero{
        h1{
            @apply relative z-10 font-modern-negra md:text-[20vw] text-7xl leading-none text-center mt-30;
        }

        #left-leaf {
            @apply absolute left-0 z-10 2xl:top-52 xl:top-36 md:top-20 md:bottom-auto -bottom-20 md:w-fit w-1/3 pointer-events-none select-none;
        }

        #right-leaf {
            @apply absolute right-0 z-10 md:bottom-0 xl:top-0 2xl:top-12 top-1/2 md:w-fit w-24 pointer-events-none select-none;
        }
    }

    #cocktails{
        #c-left-leaf {
            @apply absolute left-0 md:top-0 md:bottom-auto bottom-20 md:w-fit w-1/3;
        }

        #c-right-leaf {
            @apply absolute right-0 md:bottom-0 md:top-auto top-40 md:w-fit w-1/3;
        }

        .popular {
            @apply relative space-y-8 w-full md:w-fit;
        }

        .loved {
            @apply relative space-y-8 w-full md:w-fit pb-20 md:pb-0;
        }

        h2{
            @apply text-xl font-medium;
        }

        ul{
            @apply space-y-5;
            
            li{
                @apply flex items-center;

                div{
                    @apply md:w-60 w-full;

                    h3 {
                        @apply font-modern-negra lg:text-3xl text-xl text-yellow;
                    }

                    p {
                        @apply md:text-base text-sm;
                    }
                }

                span {
                    @apply shrink-0 text-xl font-medium;
                }
            }
        }
    }

    #about{
        @apply bg-black py-10;

        .grid-item{
            @apply relative rounded-xl overflow-hidden;
        }

        .badge {
            @apply inline-block rounded-full bg-white text-black px-4 py-2 text-sm font-medium mb-5;
        }

        h2 {
            @apply font-modern-negra md:text-6xl text-5xl max-w-lg;
        }

        p {
            @apply md:text-lg text-base;
        }

        img{
            @apply size-full object-cover;
        }
    }

    #art{
        @apply bg-black py-20;

        h2{
            @apply relative font-modern-negra md:text-[20vw] text-8xl text-nowrap leading-none text-center text-[#505050];
        }

        .cocktail-img{
            @apply absolute-center z-30 md:w-[50vw] w-[calc(100%-40px)] md:h-[60vh] h-[50vh] rounded-4xl overflow-hidden;

            img{
                @apply size-full object-cover;
            }
        }

        .masked-container{
            @apply absolute bottom-10 left-1/2 -translate-x-1/2 w-full;

            h2{
                @apply font-modern-negra md:text-5xl text-4xl text-center text-white mb-0;
            }

            .masked-content{
                @apply absolute bottom-0 w-full;

                h3 {
                    @apply md:w-full font-serif md:text-5xl text-4xl text-center text-white;
                }

                p {
                    @apply text-lg text-center;
                }
            }
        }
    }

    #menu{
        @apply bg-black py-20;

        #m-left-leaf {
            @apply object-contain absolute -bottom-20 left-0 md:w-fit w-1/3;
        }

        #m-right-leaf {
            @apply object-contain absolute -top-40 right-0 md:w-fit w-1/4;
        }

        .cocktail-tabs {
            @apply relative z-10 md:max-w-6xl grid md:grid-cols-4 grid-cols-2 md:gap-20 gap-5 md:mx-auto mb-0;

            button {
                @apply font-modern-negra md:text-2xl text-xl text-white/50 hover:text-yellow border-b-1 hover:border-yellow cursor-pointer transition-colors pb-2;
            }
        }

        .arrows {
            @apply absolute top-1/2 -translate-y-1/2 z-30 w-full flex justify-between items-center md:px-20 lg:px-40;

            button {
                @apply text-white hover:text-yellow cursor-pointer transition-colors max-w-36;

                span {
                    @apply md:block hidden text-2xl font-modern-negra leading-none;
                }
            }
        }

        .cocktail {
            @apply absolute-center size-full lg:py-10 pt-5;
        }

        .recipe {
            @apply w-full md:h-70 flex max-md:flex-col md:justify-between md:items-center gap-5;

            .cocktail-info {
                @apply md:space-y-4 max-md:flex items-center gap-5;

                #title {
                    @apply font-modern-negra md:text-6xl text-4xl text-yellow md:max-w-40;
                }
            }

            .details {
                @apply space-y-5 md:max-w-md text-left;

                #subtitle {
                    @apply md:text-5xl text-3xl font-serif;
                }

                p {
                    @apply md:text-lg pe-5;
                }
            }
        }
    }

    #contact{
        @apply min-h-[50vh] bg-black py-20;

        #f-left-leaf {
            @apply absolute bottom-0 left-0 pointer-events-none lg:w-fit w-1/3;
        }

        #f-right-leaf {
            @apply absolute top-0 right-0 pointer-events-none lg:w-fit w-1/3;
        }

        h2 {
            @apply font-modern-negra 2xl:text-8xl lg:text-6xl text-5xl text-center mb-10;
        }

        h3 {
            @apply uppercase 2xl:text-lg xl:text-base text-base font-bold mb-2;
        }
    }
}

